.articles {
    background-color: white;
    padding: 0.75rem;

    h2 {
        font-family: $heading-font;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $primary-color;
    }

    p {
        font-family: $body-font;
        font-weight: map-get($font-weight, semi);
        font-size: 0.875rem;
        line-height: 1.4;
    }

    button {
        border: none;
        background-color: $primary-color;
        padding: 0.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: map-get($font-weight, bold);
        margin-top: 0.5rem;
        justify-content: right;
    }

    img {
        width: 100%;
        margin: 1.5rem 0 0.5rem;
    }
}