.section-articles {
    background-color: white;
    padding: 0.5rem;

    h2 {
        font-family: $heading-font;
        font-size: 1.5rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: $primary-color;
    }

    p {
        font-family: $body-font;
        font-size: 0.875rem;
        font-weight: map-get($font-weight, semi);
        line-height: 1.4;
    }

    .article {
        position: relative;
    }

    button {
        padding: 0.5rem;
        margin-top: 0.5rem;
        border: none;
        background-color: $primary-color;
        font-weight: map-get($font-weight, bold);
        text-transform: uppercase;
        color: white;
        justify-content: right;
        position: absolute;
        right: 0;
    }

    img {
        width: 100%;
        margin: 1.5rem 0 0.5rem;
    }

}