
footer {
    background-color: $primary-color;
    text-align: center;
    color: white;
    padding: $menu-item-padding;
    font-family: $nav-font;

    a {
        text-decoration: none;
        color: white;
    }
}
