.gallery {

    padding: 0.5rem;

    figure {
        position: relative;
        overflow: hidden;
    }

    img {
        // position: relative;
        display: block;
        width: 100%;
    }

    figcaption {
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: $heading-font;
        font-size: 1.25rem;
        color: white;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
    }

}
