header {
    margin: 0 auto;
}
#tablet-topbar, #desktop-topbar {
    display: none;
}

@media (min-width: $breakpoint-mobile) {
    #topbar {
        padding: 2rem;
        @include header-flex;
        picture {
            padding-right: 2rem;
        }
    }
    #search {
        width: 200px;
    }

    #tablet-topbar {
        @include header-flex;
    }
}

@media (min-width: $breakpoint-tablet) {

    #tablet-topbar #socials {
        @include header-flex;
    }
}

@media (min-width: $breakpoint-desktop) {
    #tablet-topbar #search 
    {
        display: none;
    }
}
