


//centering element (wrapper)
@mixin margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

//centering elements in a flex container
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
