



//centering element (wrapper)
@mixin margin-center {
    margin: {
        left: auto;
        right: auto;
    }
}

//centering elements in a flex container
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

@mixin header-flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
        
}

@mixin gallery-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2(1fr);
}

