@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
//styles for ul
@mixin ul-base {
    list-style: none;
    padding: 0;
    margin: 0;
}

//clearing margins anad padding and setting the line-height to 1
@mixin flatten {
    margin: 0;
    padding: 0;
    line-height: 1;
}
