//font variables 
$nav-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;
$body-font:'Roboto', sans-serif;
$font-size: 1.5rem;

$font-weight: (
    regular: 300,
    semi: 400,
    bold: 700,
);

//media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// color variables
$primary-color: rgb(24, 88, 152);
$accent-color: rgb(8, 70, 127);