//font variables 
$nav-font: 'Roboto Condensed', sans-serif;
$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto Condensed', sans-serif;
$small-font: 1rem;
$large-font: 1.5rem;
$sidenav-font: 'Roboto Condensed', sans-serif;

$font-weight: (
    regular: 300,
    semi: 400,
    bold: 700,
);



// color variables
$primary-color: rgb(24, 88, 152);
$accent-color: rgb(8, 70, 127);



//globally scoped variables

//media query breakpoints
$breakpoint-mobile: 500px;
$breakpoint-tablet: 700px;
$breakpoint-desktop: 800px;

// color variables
$primary-color: rgb(24, 88, 152);
$accent-color: rgb(8, 70, 127);


//padding
$menu-item-padding: .5rem 1rem 0.5rem 1rem;
$body-padding: 0.5rem;

// image width
$img-full: 100%;
