//font variables 
$nav-font: 'Roboto', sans-serif, 700;
$heading-font: 'Roboto', sans-serif, 400;
$body-font:'Roboto', sans-serif, 300;
$font-size: 1.5rem;

//media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// color variables
$primary-color: rgb(24, 88, 152);
$accent-color: rgb(8, 70, 127);